In [7]:
import sqlite3

In [35]:
connection=sqlite3.connect('student')
cursor=connection.cursor()

In [ ]:
## create a table
cursor.execute('''
               create table student(
                   id integer,
                   name text,
                   department text)
              ''')

In [62]:
script='''
insert into student(name,id,department)
VALUES('rohith',19,'CSE');
insert into student(name,id,department)
VALUES('ro',118,'CSE');
insert into student(name,id,department)
VALUES('rohi',190,'CSE');
'''
cursor.executescript(script)

In [63]:
connection.commit()

In [68]:
cursor.execute('select*from student')
rows=cursor.fetchall()
for row in rows:
    print(row)

(19, 'rohith', 'CSE')
(19, 'rohith', 'CSE')
(118, 'ro', 'CSE')
(190, 'rohi', 'CSE')